
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sansita Swashed', cursive;
}

a {
  text-decoration: none;
}
button{
  appearance: none;
  font-family: 'Acme', sans-serif;
}
button,select{
  outline:none;
  border:none;
}
select{
 width:50px;  
 appearance: none;
}
.header-wrapper{
 padding-bottom:10rem;
 background-image: url('./assets/Images_1/headerBackground.webp');
 background-size: contain;
background-repeat: no-repeat;
}

.custom-shape-divider-top-1673115049 {
    position: absolute;
    top: -9.8vw;
    left: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-top-1673115039 {
    position: absolute;
    bottom: -9.8vw;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) scaleY(-1);
}
@media (width > 1200px){
  .header-wrapper{
  padding-inline: 4rem;
  }

}

@media (width < 900px){
     .header-wrapper{
  background-position: 0% 30rem;
  } 
}
@media (width < 470px){
  .header-wrapper{
    background-position: 0  38rem;
  }
}

@media (width < 340px){
  .header-wrapper{
    background-position: 0  45rem;
  }
}