.bookATrip__section{
    gap: 4rem;
    padding: 10rem 4rem;
}
.bookATrip__content{
    display: grid;
    gap:2rem;
    flex:1;  
}
.bookATrip__content_header {
    text-align: left;
    width:60%;
    text-transform: capitalize;
}

.bookATrip__content_header h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #399adf;
}

.bookATrip__content_header h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #a15daa;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
}
.bookATrip__image_container{
   width:100%;
   height: 100%;
   flex:1; 
   position: relative;
}
.blurry_background{
    background: #59B1E6;
    opacity: 0.8;
    filter: blur(70px);
    border-radius: 50%;
    position: absolute;
    width:80%;
    height:80%;
    top:0;
    z-index: -1;
    
}
.bookATrip__image_container img{
    width:90%;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 55.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 2.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 1.14815px rgba(0, 0, 0, 0.00481481);
}
.bookATrip__content_main{
    display: grid;
    gap:2rem;
}
.bookATrip__content_main-wrapper{
    gap:1rem;
    line-height: 124.5%;
    color: #5E6282;
}
.bookATrip__content_main-wrapper img{
    width:40px;
    height:40px;
}
.bookATrip__content_main-wrapper article h6{
    font-family: 'Rowdies', cursive;
    font-weight: 700;
    font-size: 16px;
    color: #399adf;
    letter-spacing: 0.13em;

}
.bookATrip__content_main-wrapper article p{
    font-weight: 600;
    font-size: 14px;
    width:80%;
}

@media (width <= 1140px ){
    .bookATrip__section{
        flex-direction: column;
        gap:10rem;
        padding-inline: 5rem;
    }
    .bookATrip__content_header{
        width:100%;
    }
}
@media (width <= 470px ){
 .bookATrip__content_main-wrapper{
    align-items: flex-start;
 }
 .bookATrip__section {
     padding-inline: 2rem;
 }
}