.destination__section{
    gap:5rem;
    margin-bottom: 5rem;
    background-color: #399adf;
    padding-block: 5rem;
    isolation: isolate;
    position: relative;
}



.destination__section_header {
    text-align: center;
}

.destination__section_header h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #a15daa;
}

.destination__section_header h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}
.destination__section_cards{
    flex-wrap: wrap;
    gap:3rem;
}
.destination__card{
   width:20rem;
   height:28rem;
   position: relative;
}
.destination__content{
    color:white;
    font-weight: 700;
    opacity: 0;
}
.destination__content span{
    margin-right:1rem;
    font-size: 25px;
}
.destination__content  p:first-of-type span{
    color:red;
}
.destination__content  p:nth-of-type(2) span{
    color:green;
}
.destination__content p:last-of-type span{
    color:blue;
}

.destination__content p{
    margin-bottom:0.6rem;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 0.14em;
}

.ribbon{
    width:150px;
    height: 150px;
    position: absolute;
    top: 0;
}
.destination__card:hover img{
    filter: blur(2px) brightness(50%);
    -webkit-filter: blur(2px) brightness(50%);
    transition: all 0.7s;
}
.destination__card:hover .destination__content{
    opacity: 1;
    transition: all 0.7s;
}

.ribbon:before{
    content:url('../assets/Images_1/paper-plane.svg');
    position: absolute;
    width:318px;
    height:60px;
    background: linear-gradient(to left,#56569b 2%,#399adf 70%, #56569b);
    transform: rotate(-45deg);
    display:flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    box-shadow: 0 10px 0 -3.9px rgba(0,0,0);
}

.ribbon::after{
    content:'';
    position: absolute;
    right: -70px;
    top: -25px;
    border-radius: 50%;
    width:70px;
    height: 70px;
    z-index:-1;
    background-color: rgba(0, 0, 0);
    box-shadow: -175px 175px 0px 0 rgba(0,0,0);
}


@media (width <= 430px){
     .destination__card{
      width:17rem;
      height:24rem;
      position: relative;
}
}
@media (width <= 340px){
    .destination__card{
   width:14rem;
   height:20rem;
   position: relative;
}
 .destination__content{
    margin-top: 3rem;
 }
    }