.footer__container{
    padding: 4rem 2rem;
    gap:2rem;
    background-color: #399adf;
    border-radius: 5rem 5rem 0 0 ;
}
.footer__container > span{
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    margin-top: 2rem;
}

.footer__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:6rem;
    flex-wrap: wrap;
}
.footer__logo-container{
    flex:0.4;
}
.footer__logo-container > h3{
font-family: 'Pacifico', cursive;
font-style: normal;
white-space: nowrap;
font-weight: 400;
font-size: 25px;
line-height: 22px;
align-self: flex-end;
color: #212832;
margin-bottom: 2rem;
}
.footer__logo-container > span{
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
}
.footer__content_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex:1;
    gap: 2.5rem;
    justify-content: space-between;
    min-width: 430px;
}
.footer__content-main{
    display: flex;
    flex-direction: column;
    gap:1.8rem;
    justify-content: space-between;
    padding-top: 2.2rem;
}
.footer__content-main h5{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
}
.footer__content-main article{
    display: grid;
    gap:0.6rem;
}

.footer__content-main article p{
    font-family: 'Philosopher', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 124.5%;
}
.footer__content-main article p:hover{
    cursor: pointer;
}
.footer__socials{
    gap:1.1rem;
    padding-top: 2rem;
}
.socials_main {
    display: flex;
    gap:2rem;

}
.socials_main span{
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
}
.socials_main span:hover{
    cursor: pointer;
}
.footer__socials p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    letter-spacing: 0.005em;
}

.footer__socials article{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;   
}
.footer__socials article img{
       width:130px;
}
@media (width < 500px ){
    .footer__content_container{
        min-width: 200px;
    }
}