
nav{
    padding:2rem 4rem;
    background: transparent;
}

.nav__logo-container{
  display:flex;
  width:120px;
  height:60px;
  flex:0.8;
}
 .nav__logo-container img{
  width:70px;
  height:70px;
}
.nav__logo-container h4{
    font-family: 'Pacifico', cursive;
    white-space: nowrap;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    align-self: flex-end;
    color: #212832;
}

.nav__links-container{
    flex:2;
}
.nav__links-container aside{
    gap:2rem;
    width:61%;
}
.nav__links-container aside a {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000;
}

.nav__links-container div{
    width:fit-content;
    gap:2rem;
    margin-right: 1.5rem;
}
.nav__links-container button{
    padding: 0.25rem 1rem;
    border:2px solid #5d5daa;
    border-radius: 5px;
    background:transparent;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #4e4eac;
}
.toggle{
    position:relative;
    width:32px;
    height:40px;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    display: none;
}
.toggle::before{
    content:'';
    position:absolute;
    width:100%;
    height:2px;
    background: #212832;
    transform: translateY(-10px);
    transition:all 0.25s;
    box-shadow:  0 10px 0 #212832;
}
.toggle.active::before {
    box-shadow:  unset;
    transform: translateY(0px) rotate(45deg);
}
.toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}
.toggle::after{
    content:'';
    position:absolute;
    width:100%;
    height:2px;
    background: #212832;
    transform: translateY(10px);
    transition:all 0.25s;
}

.toggle.active{
    position:fixed;
    right:60px;
    top:50px;
}

@media (width < 620px){
    nav{
        padding: 1rem 2rem;
    }
}
@media (width < 550px){
    .nav__logo-container img{
        width:50px;
        height:50px;
    }
    .nav__logo-container h4{
    font-size: 20px;
}
}
@media (width < 480px){
    .nav__links-container div{
     display:none;
    }
    .nav__links-container div.activeToggle{
        position: fixed;
        top:85%;
        left:-11%;
        display: flex;
        flex-direction: column;
        z-index:1;
    }
    .nav__links-container div.activeToggle button{
        font-weight: 700;
        font-size: 30px;
        padding: 1rem 1.8rem;
    }

      .nav__links-container aside.activeToggle {
        top:30%;
       }
    .toggle.active{
        right:30px;
        top:40px;
    }
}
@media (width < 320px){
.nav__logo-container img {
        width: 40px;
        height: 40px;
    }
     nav{
        padding: 0.5rem 1rem;
    }

    .nav__logo-container h4 {
        font-size: 15px;
    }
}
@media (width < 1100px) {
    .nav__links-container aside.activeToggle {
        position: fixed;
        width:100%;
        height:100%;
        bottom:-100px ;
        top:50%;
         left:50%;
        display:grid;
        background-image: url('../assets/sidebarBackgroundImg.jpg');
        background-size: cover;
        gap:3rem;
        place-content: center;
        transform: translate(-50%,-50%);
        z-index:1;
    }
    .nav__links-container aside{
        display: none;
    }
    .nav__links-container aside a{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 30px;
    }
    .nav__links-container div{
        width:100%;
    }

    .toggle {
        display: flex;
    }

}
