.subscribeNewsletter__section{
    padding: 10rem 0rem;
    display: grid;
    place-items: center;
}
.subscribeNewsletter__container{
    padding:3rem 5rem ;
    width:90%;
    height:auto;
    border-radius: 4rem 10px 10px 10px;
    background-color: aqua;
}
.subscribeNewsletter__container h4{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 44px; 
    text-align: center;
    color: #5E6282
}